#home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#soal1, 
#soal2, 
#soal3, 
#soal4,
#soal5,
#soal6,
#soal7,
#soal8,
#soal9,
#soal10,
#leaderboard{
  display:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input{
  margin: 5%;
}

.soal input{
  margin: 1%;
}

.leaderboardContainer{
  display: flex;
  border: 1px dotted gray;
  width: 20%;
  justify-content: center;
}

.name, .score{
  margin: 5%;
}

